<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" name="APR" placeholder="E.g. 5.42"><br>
  
  <label for="numofyears">Number of years</label>
  <input id="numofyears" name="numofyears" placeholder="How many years to repay?"><br>
  
  <label for="principal">Principal</label>
  <input id="principal" name="principal" placeholder="How much principal?"><br>
  
  <button>Calculate monthly payment</button>
</form>
