<form action="/square_root/results">
  <label for="squareroot">Enter a number</label>
  <input id="squareroot" name="squareroot" placeholder="What number do you want to take the square root of?"><br>
  <button>Calculate square root</button>
</form>
